.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
     
}

.SearchBar input {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}


#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px; */
}
