/* .App {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 25px 3fr 25px;
  grid-template-rows: auto;
  grid-template-areas:
    ". header ."
    ". nav ."
    ". map ."
    ". footer .";
  background-color: aliceblue;
} */
.App {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 5px 3fr 5px;
  grid-template-rows: auto;
  grid-template-areas:
    ". header ."
    ". nav ."
    ". map ."
    ". footer .";
    background-color: aliceblue;
}
.App-header {

  grid-area: header;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-nav i {
 color: pink;
}
.App-header h1{
  margin-bottom: 0;
}

.App-nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-map .mapboxgl-ctrl-geocoder {
  font-size: large;
  line-height: 70px;
  width: 400px;
  border-radius: 25px;
}

/* .App-map .mapboxgl-ctrl-geocoder--input {
  width: 500px
} */

.App-footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
}

.map-container {
  display: flex;
}

.card{
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description{
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

label{
  color: rgb(88, 64, 224);
  font-size: x-large;
  border-bottom: 1px solid rgb(88, 64, 224);
  margin: 3px;
}


#searchInputLong{
  color:rgb(39, 152, 238);
  font-size: 50px;
  width: 1200px;
  height: 65px;
  padding:10px;
  padding-left: 15px;
  border-radius: 25px;
  margin-bottom: 15px;
}