.App {
  text-align: center;
}

.App {
  display: grid;
  grid-template-columns: 25px 3fr 25px;
  grid-template-rows: auto;
  grid-template-areas:
    ". header ."
    ". nav ."
    ". map ."
    ". footer .";
}

.App-header {
  grid-area: header;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-map {
  grid-area: map;
}

.App-footer {
  grid-area: footer;
}

.map-container {
  display: flex;
}

.card{
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description{
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

label{
  color: rgb(88, 64, 224);
  font-size: x-large;
  border-bottom: 1px solid rgb(88, 64, 224);
  margin: 3px;
}

.searchInput{
  color:rgb(89, 238, 39);
  font-size: 50px;
  width: 1600px;
  height: 100px;
  padding:10px;
  padding-left: 15px;
  border-radius: 25px;
  margin-bottom: 15px;
}