/* .App {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 25px 3fr 25px;
  grid-template-rows: auto;
  grid-template-areas:
    ". header ."
    ". nav ."
    ". map ."
    ". footer .";
  background-color: aliceblue;
} */

.App {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "map"
    "footer";
}
.App-header {
  grid-area: header;
  min-height: 10vh;
  display: flex;
  flex-direction: column;

  justify-content: left;
  font-size: calc(10px + 2vmin);
}
.App-nav i {
  
  color: rgb(245, 153, 169);
  background-color: rgb(246, 238, 227);
}
.App-header h1{
  margin-bottom: 0;
  text-align: left;
  
}

.App-nav {
  width: 90%;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  text-align:left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-map {
  width: 80%;
  grid-area: map;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-footer {
  grid-area: footer;
  display: flex;
  justify-content: left;
  margin-top: 1%;
  color: rgb(245, 153, 169);
  background-color: rgb(246, 238, 227);
  height: 20px;
  font-size: large;
}
.card{
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description{
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

label{
  color: rgb(88, 64, 224);
  font-size: x-large;
  border-bottom: 1px solid rgb(88, 64, 224);
  margin: 3px;
}
